<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
    <table class="floatable" width="100%">
        <tr>
            <td>
                <h1>Сайтотека</h1>
            </td>
            <td>
                <a class="btn btn-primary" href="/">На главную страницу</a>
            </td>
            <td align="right">
                <nav>{%if current_user.is_authenticated%}
                    <a class="navbar-brand" href="/users/{{current_user['id']}}">{{current_user.nickname}}</a>
                    {%else%}
                    <p>
                        <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
                        <a class="btn btn-success" href="/login">Войти</a>
                    </p>
                {%endif%}</nav>
            </td>
        </tr>
    </table>
    <main>
        {%block content%}{%endblock%}
    </main>
</body>
</html>