{%extends "base.html"%}
{%block content%}
    <h1>Авторизация</h1>
    <form action="" method="post">
        {{form.hidden_tag()}}
        {%for i in form if i.name not in ['csrf_token', 'remember_me', 'submit']%}
            <p>
                {{i.label}}<br>
                {{i(class="form-control")}}<br>
                {%for error in i.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {%endfor%}
            </p>
        {%endfor%}
        <p>{{form.remember_me()}} {{form.remember_me.label}}
        <p>{{form.submit(type="submit", class="btn btn-primary")}}
        <div>{{message}}</div>
    </form>
{%endblock%}