{%extends "base.html"%}
{%block content%}
    <form action="" method="post">
        {{form.hidden_tag()}}
        <table class="floatable" width="100%">
            <tr>
                <td>
                    <h1>Список сайтов</h1>
                </td>
                {%for i in form if i.name not in ['csrf_token', 'submit']%}
                    <td align="center">
                        {{i.label}}:<br>
                        {{i(class="form-control")}}<br>
                        {%for error in i.errors%}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {%endfor%}
                    </td>
                {%endfor%}
                <td {%if not current_user.is_authenticated%}align="right"{%endif%}>
                    {{form.submit(type="submit", class="btn btn-primary")}}
                </td>
                {%if current_user.is_authenticated%}
                <td align="right">
                    <nav>
                        <div class="rightstr"><a class="btn btn-primary" href="/websites">Добавить сайт</a></div>
                    </nav>
                </td>
                {%endif%}
            </tr>
        </table>
    </form>
    {%if not websites%}
        <h2>Ничего не найдено</h2>
    {%endif%}
    {%for i in websites%}
        <table>
            <tr>
                <th colspan="3"><h4 align="center"><a href="/websites/{{i['id']}}">{{i['name']}}</a></h4></th>
                {%if current_user.is_authenticated and current_user.id == i['owner_user']['id']%}
                    <td rowspan="3"><a class="btn btn-primary" href="/websites/change/{{i['id']}}">Изменить</a></td>
                {%endif%}
            </tr>
            <tr>
                <td rowspan="2">{{i['description']}}</td>
                <td rowspan="2">{%for j in i['categories']%}{{j['name']}}{%if not loop.last%}, {%endif%}{%endfor%}</td>
                <td>Создатель - <a href="/users/{{i['owner_user']['id']}}">{{i['owner_user']['nickname']}}</a></td>
            </tr>
            <tr>
                <td><a href="{%if i['link'][:4] != 'http'%}https://{%endif%}{{i['link']}}">Ссылка</a></td>
            </tr>
        </table>
        <br>
    {%endfor%}
{%endblock%}